.Wrapper {
  background-color: #a0b5dd;
}

.Weather {
  font-family: "Amatic SC";
  max-width: 400px;
  margin: 0px auto;
  padding: 30px;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  border-radius: 40px;
  border: #0c3483 solid;
}

h1 {
  color: #0c3483;
  text-decoration: underline;
  text-align: center;
}

h4 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h4 button {
  margin-left: 8px;
  border-radius: 10px;
  color: #0c3483;
}

h3 {
  text-decoration: underline;
}
h3,
h2 {
  color: #a2b6df;
  text-align: center;
}

#current-day {
  font-size: 30px;
  border: #a2b6df solid;
  border-radius: 20px;
  text-align: center;
  color: #0c3483;
}

#coming-days {
  font-size: 25px;
  text-align: center;
  color: #a2b6df;
}

p {
  color: #193d8a;
  text-align: center;
  font-size: 11px;
}

p a {
  text-decoration: none;
  color: purple;
}
